body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #030609;
  color: #fafafa;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  animation: slideUp 0.9s ease forwards;
  transition: all 0.5s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 4;
  gap: 1rem;
  border: 2px solid hsl(var(--border));
  padding: 1rem;
  border-radius: 0.5rem;
  min-height: 35rem;
}

.separator {
  opacity: 0;
  animation: fadeUp 0.7s ease forwards;
}

.list {
  display: flex;
  flex-direction: column;
}

.taskContainer {
  opacity: 0;
  transition: all 0.3s ease;
  animation: fadeIn 0.5s ease forwards;
}

.opaqueTaskContainer {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  animation: opaqueFadeIn 0.5s ease forwards;
}

.taskContainer:hover {
  background-color: #ffffff11;
}

.deleteButton {
  opacity: 0;
  transition: all 0.3s ease;
  animation: fadeUp 0.5s 0.5s ease forwards;
}

.deleteButton:hover {
  transform: scale(1.1);
}

#root > div > div.main > div.sidebar > div.rdp.p-3.rounded-md.border > div {
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes opaqueFadeIn {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 0.2;
    transform: translateX(0rem);
    text-decoration: line-through;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: scale(0.32);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@media (max-width: 720px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    flex-direction: row;
    width: 100%;
  }

  .content {
    width: 100%;
  }
}

@media (max-width: 512px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    flex-direction: column;
  }
}
