.container {
  animation: slideIn 0.9s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
