.timesheet {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.25rem;
}

.hourBlock {
  opacity: 0;
  cursor: pointer;
  animation: appear 0.5s ease forwards;
  border-radius: 0.25rem;
}

.hour {
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s ease;
  animation: fadein 0.5s ease forwards;
}

.hour:hover {
  background-color: rgba(34, 197, 94, 0.16);
  border-radius: 0.5rem;
  border-color: rgba(34, 197, 94, 0.32);
  border-bottom: 2px solid rgba(34, 197, 94, 0.32);
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}
